@model ShowGroundDetailViewModel

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="cs-preloader cs-center" style="display: none;">
    <div class="cs-preloader_in"></div>
    <span>Loading</span>
</div>

<div class="cs-height_90 cs-height_lg_80"></div>
<div class="cs-height_100 cs-height_lg_70"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="slider-for slick-initialized slick-slider">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 8385px; transform: translate3d(-645px, 0px, 0px);">
                        <div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="~/ShowGroundİmages/1 (@Model.ShowGround.ShowGroundID).jpg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="~/ShowGroundİmages/1 (@Model.ShowGround.ShowGroundID).jpg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="~/ShowGroundİmages/1 (@Model.ShowGround.ShowGroundID).jpg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="8" id="" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="9" id="" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 645px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_lg"><img src="../assets/img/explore_lg_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs-height_25 cs-height_lg_25"></div>
            <div class="slider-nav slick-initialized slick-slider">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 3345px; transform: translate3d(-669px, 0px, 0px);">
                        <div class="slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_2.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_3.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_2.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_3.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_2.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_3.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_2.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="8" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_3.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="9" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_1.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_2.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div><div class="slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 223px;">
                            <div>
                                <div class="slider-item" style="width: 100%; display: inline-block;">
                                    <div class="cs-slider_thumb_sm"><img src="../assets/img/explore_sm_3.jpeg" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="cs-height_0 cs-height_lg_40"></div>
            <div class="cs-single_product_head">
                <h2>@Model.ShowGround.ShowGroundName</h2>
                <p>@Model.ShowGround.District.DistrictName / @Model.ShowGround.District.City.CityName</p>
                <span class="cs-card_like cs-primary_color cs-box_shadow">
                    <i class="fas fa-heart fa-fw"></i>
                    2.1K
                </span>
            </div>
            <div class="cs-height_25 cs-height_lg_25"></div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="cs-author_card cs-white_bg cs-box_shadow">
                        <div class="cs-author_img"><img src="../assets/img/avatar/avatar_1.png" alt=""></div>
                        <div class="cs-author_right">
                            <h3>Seller</h3>
                            <p>@@Nancy D. Cardenas</p>
                        </div>
                    </div>
                    <div class="cs-height_25 cs-height_lg_25"></div>
                </div>
                <div class="col-xl-6">
                    <div class="cs-author_card cs-white_bg cs-box_shadow">
                        <div class="cs-author_img"><img src="../assets/img/avatar/avatar_21.png" alt=""></div>
                        <div class="cs-author_right">
                            <h3>Audiography</h3>
                            <p>@@Stanford V. McCutcheon</p>
                        </div>
                    </div>
                    <div class="cs-height_25 cs-height_lg_25"></div>
                </div>
            </div>
            <div class="cs-tabs cs-fade_tabs cs-style1">
                <div class="cs-medium">
                    <ul class="cs-tab_links cs-style1 cs-medium cs-primary_color cs-mp0 cs-primary_font">
                        <li class="active"><a href="#Description">Address</a></li>
                        <li><a href="#Details">Comment</a></li>
                    </ul>
                </div>
                <div class="cs-height_20 cs-height_lg_20"></div>
                <div class="cs-tab_content">
                    <div id="Description" class="cs-tab active">
                        <div class="cs-white_bg cs-box_shadow cs-general_box_5">
                            @Model.ShowGround.Address
                        </div>
                    </div><!-- .cs-tab -->
                    <div id="Details" class="cs-tab">
                        <div class="cs-white_bg cs-box_shadow cs-general_box_5">
                            <form asp-controller="ShowGroundDetail" asp-action="AddComment" asp-route-id="@Model.ShowGround.ShowGroundID" method="post">
                                <div class="cs-form_field_wrap">
                                    <textarea cols="20" name="comment" style="resize:none; margin:auto; padding:10px;" rows="2" placeholder="Your bio..." class="cs-form_field cs-white_bg"></textarea>
                                </div>
                                <button type="submit" style="margin:5px; " class="cs-btn cs-style1 cs-btn_lg"><span>Comment</span></button>
                            </form>

                            
              
            
                        </div>
                    </div><!-- .cs-tab -->
                </div>
            </div>
            <div class="cs-height_25 cs-height_lg_25"></div>
            <div class="cs-tabs cs-fade_tabs cs-style1">
                <div class="cs-medium">
                    <ul class="cs-tab_links cs-style1 cs-medium cs-primary_color cs-mp0 cs-primary_font">
                        <li class="active"><a href="#tab_one">Comments</a></li>
                    </ul>
                </div>
                <div class="cs-height_20 cs-height_lg_20"></div>
                <div class="cs-tab_content">
                    <div id="tab_one" class="cs-tab active">
                        <ul class="cs-activity_list cs-mp0">
                            <li>
                                @foreach (Commentt commentt in Model.ShowGroundCommenttsList)
                                {
                                    <div class="cs-activity cs-white_bg cs-type1">
                                        <div class="cs-activity_right">
                                            <p class="cs-activity_text">@commentt.Userr.Emaill</p>
                                            <p class="cs-activity_text">@commentt.Content </p>
                                            <p class="cs-activity_posted_by">@commentt.CommenttDate.ToLongDateString() @commentt.CommenttDate.ToLongTimeString()
                                                @if (commentt.UserrID == Convert.ToInt32(User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Sid)?.Value))
                                                                            {
                                                    <form asp-controller="ShowGroundDetail" asp-action="DeleteComment" asp-route-id="@commentt.CommenttId">
                                                        <button class="fa-solid fa-x" style="background-color:transparent; border:none"><i class="far fa-trash-alt" style="color:red"></i></button>
                                                    </form>
                                                }
                                            </p>
                                        </div>
                                    </div>

                                }
                            </li>
                        </ul>
                    </div><!-- .cs-tab -->
                </div>
            </div>
            <div class="cs-height_30 cs-height_lg_30"></div>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
<div class="cs-height_95 cs-height_lg_70"></div>
<div class="container">
    <h2 class="cs-section_heading cs-style1">Similar Showgrounds</h2>
    <div class="cs-height_45 cs-height_lg_45"></div>
    <div class="cs-grid_5 cs-gap_30">
        @foreach (ShowGround showGround in Model.RelatedShowGroundList)
        {
            <div class="cs-card cs-style4 cs-box_shadow cs-white_bg">
                <span class="cs-card_like cs-primary_color">
                    <i class="fas fa-heart fa-fw"></i>
                    2.1K
                </span>
                <a asp-controller="ShowGroundDetail" asp-action="" asp-route-id="@showGround.ShowGroundID" class="cs-card_thumb cs-zoom_effect">
                    <img src="../assets/img/explore/1.jpeg" alt="Image" class="cs-zoom_item">
                </a>
                <div class="cs-card_info">
                    <a asp-controller="ShowGroundDetail" asp-action="" asp-route-id="@showGround.ShowGroundID" class="cs-avatar cs-white_bg">
                        <img src="../assets/img/avatar/avatar_12.png" alt="Avatar">
                        <span>Johny E.</span>
                    </a>
                    <h3 class="cs-card_title"><a asp-controller="ShowGroundDetail" asp-action="" asp-route-id="@showGround.ShowGroundID">@showGround.ShowGroundName</a></h3>
                    <div class="cs-card_price">District:@showGround.District.DistrictName</div>
                    <hr>
                    <div class="cs-card_footer">
                        <span class="cs-card_btn_1" data-modal="#history_1">
                            <i class="fas fa-redo fa-fw"></i>
                            View History
                        </span>
                        <span class="cs-card_btn_2" data-modal="#bid_1"><span>Place Bid</span></span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="cs-height_100 cs-height_lg_70"></div>
